.header {
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header--title {
  margin-right: auto;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.1em;
}

.header--meme_icon {
  width: 32px;
  height: 26px;
  margin: 20px 8px 20px 20px;
}

.header--project_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-right: 35px;
}

